{% extends "base.html" %}
{% block content %}
<div class="pv2 ph5">
  <div class="b f2 pt4 pb2">{{ object.name }}</div>
  <div class="mw6">
    <span class="f6 red mr2">&dollar;{{ object.amount_due }} Due</span>
    <span class="f6 green mr2">&dollar;{{ object.amount_paid }} Paid</span>
    <span class="f6 mr2">&dollar;{{ object.amount }} Total</span>
  </div>
  <table class="collapse ba b--black-10 pv2 ph3 mv3">
    <tbody>
      <tr class="striped--light-gray">
        <th class="pv2 ph3 tl f6 fw6 ttu">Roommate</th>
        <th class="tc f6 ttu fw6 pv2 ph3">Amount Due</th>
        <th class="tc f6 ttu fw6 pv2 ph3">Amount Paid</th>
        <th></th>
      </tr>
      {% for payment in bill.payment_set.all  %}
      <tr class="striped--light-gray">
        <td class="pv2 ph3">
          {{payment.payer.name}}
        </td>
        <td class="pv2 ph3">
          {{payment.amount_due}}
        </td>
        <td class="pv2 ph3">
          {{payment.amount_paid}}
        </td>
        <td class="pv2 ph3">
          <a class="f6" href="{% url 'payment_event_create' payment.id %}">Make Payment</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'house_detail' object.house.id %}" class="db pv4">Back to House</a>
</div>
{% endblock %}
